<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>RMS</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Resume Management System</h1>
  <h5>By Lim Hang Shen, Liew Zi Feng, Yong Yung Jun</h3>

  <form method="POST" target="_blank">
    <input name="text">
    <input type="submit" name="button" value="spacy">
    <input type="submit" name="button" value="flair">
  </form>

</body>
</html>
