html {
    background-color: white;
    background-image: url("bg.jpg");
  }
  
  #resHeader{
    color: black;
    font-size: 40px;
  }

  .mainpage {
    color:#313437;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .mainpage p {
    color:#7d8285;
    line-height:1.5;
  }
  
  .mainpage h2 {
    font-size:48px;
    font-weight:bold;
    margin-bottom:25px;
    line-height:1.5;
    padding-top:0;
    margin-top:0;
    color:inherit;
  }
  
  .mainpage .intro {
    font-size:16px;
    max-width:800px;
    margin:0 auto 25px;
  }
  
  .mainpage .intro p {
    margin-bottom:35px;
  }
  
  .mainpage form {
    justify-content:center;
    display: flex;
  }
  
  .mainpage form .form-control {
    background:#cfe1f5;
    border:none;
    border-radius:3px;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:9px;
    height:45px;
    margin-right:10px;
    min-width:400px;
    font-size: 18px;
  }
  
  .mainpage form .btn {
    padding:16px 32px;
    border:none;
    background:none;
    box-shadow:none;
    text-shadow:none;
    opacity:0.9;
    text-transform:uppercase;
    font-weight:bold;
    font-size:16px;
    letter-spacing:0.4px;
    line-height:1;
    margin: 4px;
  }
  
  .mainpage form .btn:hover {
    opacity:1;
  }
  
  .mainpage form .btn:active {
    transform:translateY(1px);
  }
  
  .mainpage form .btn-primary {
    background-color:#055ada !important;
    color: #fff;
    outline:none !important;
  }
  
  .resultpage {
    padding:50px 0;
    position: absolute;
    top: 3%;
    left:15%
  }

  .resultpage #p1,#p2 {
    font-size: 23px;
  }

  .resultpage img {
      border-radius: 5px;
      padding: 15px;
      width: 300px;
  }

  .resultpage #results {
    top: 50%;
    left: 50%;
    align-items: center;
    text-align: left;
    display: absolute;
    margin-left: 200px;
  }